#------------------------------------------------
# © 2026 Remus Rigo
#    2026-06-01
#------------------------------------------------

#------------------------------------------------
# My ignored files
#
[Uu]pload.*
[Uu]pdate.*

#------------------------------------------------
# Windows ignored files
#
[Dd]esktop.ini
[Tt]humbs.db

#------------------------------------------------
# Visual Studio
#
.vs/
[Bb]in
[Oo]bj
